openapi: 3.0.3
info:
  title: Brightcove Analytics API Reference Access Tokens Delivery Rules API
  description: "Reference for the Brightcove Analytics API, used to retrieve analytics data for your accounts. To test API requests, you can use our <a href=\"/getting-started/concepts-testing-tools-brightcove-apis.html\" target=\"_blank\">API Testing Tools</a>.\n\nFor additional in-depth guides to features of the API, see the **[general documentation](/analytics/index.html)**.\n\n **Base URL**: https://analytics.api.brightcove.com"
  x-bc-access: public
  version: 1.0.0
servers:
- url: https://analytics.api.brightcove.com
  variables: {}
tags:
- name: Delivery Rules
  description: Operations for reading Delivery Rules
paths:
  /accounts/{{account_id}}:
    get:
      tags:
      - Delivery Rules
      summary: Fetch the Delivery Rules for the account
      description: List the Conditions and Actions defined for an account that make up the Delivery Rules configuration.
      operationId: getDeliveryRules
      security:
      - BC_OAuth2:
        - video-cloud/delivery-rules/read
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: Authorization
        in: header
        description: 'Authorization: Bearer access_token (see Getting Access Tokens)'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  conditions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Condition'
                  actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Action'
        '403':
          description: Forbidden
        '500':
          description: Server error
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    Action:
      title: Action
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the Action
        properties:
          type: object
          description: A list of properties to apply
          properties:
            min_video_bitrate:
              description: Minimum video bitrate
              type: number
            max_video_bitrate:
              description: Maximum video bitrate
              type: number
            first_video_bitrate:
              description: First video bitrate to appear in the manifest
              type: number
            min_video_resolution:
              description: Minimum video resolution
              type: string
            max_video_resolution:
              description: Maximum video resolution
              type: string
            max_video_renditions:
              description: Maximum video renditions
              type: number
            max_audio_renditions:
              description: Maximum audio renditions
              type: number
            preferred_cdn_provider:
              description: Preferred CDN provider
              type: string
            preferred_cdn_domain:
              description: Preferred CDN domain
              type: string
            video_codecs:
              type: array
              description: A list of Video Codecs to use
              items:
                description: Video Codec
                type: string
            audio_codecs:
              type: array
              description: A list of Audio Codecs to use
              items:
                description: Audio Codec
                type: string
    Condition:
      type: object
      properties:
        name:
          type: string
          description: Descriptive name of the Condition
        if:
          type: object
          description: The conditions that a request must match before the associated rules are invoked
          properties:
            device_group:
              type: array
              description: A list of device groups
              items:
                description: Device Group
                type: string
                enum:
                - ipad
                - iphone
                - appletv
                - chromecast
                - ios-other
                - fetchtv
                - roku-9
                - roku-7/8
                - desktop-chrome
                - desktop-firefox
                - desktop-safari
                - android
                - tablet-android
                - tablet-kindle
                - smartphone-generic
            request_country:
              type: array
              description: A list of countries
              items:
                description: A two-character ISO 3166-1 country code
                type: string
            request_continent:
              type: array
              description: A list of continents
              items:
                description: Continent
                type: string
                enum:
                - AF
                - AN
                - AS
                - EU
                - NA
                - OC
                - SA
        then:
          type: array
          description: A list of Action IDs to invoke when the conditions are met
          items:
            description: Action ID
            type: string
  parameters:
    AccountId:
      name: account_id
      in: path
      description: Video Cloud account id
      required: true
      style: simple
      explode: false
      schema:
        type: string
  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: Brightcove OAuth API. See the [support documentation](/oauth/index.html) or [Getting Access Tokens](/oauth/code-samples/oauth-api-sample-get-access-token.html) to learn more
      flows:
        clientCredentials:
          tokenUrl: https://oauth.brightcove.com/v4/access_token
          scopes:
            video-cloud/analytics/read: Read analytics data
            video-cloud/video/read: Read video data
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: https://backend_server
