openapi: 3.2.0
info:
  title: OAuth API Reference Access Tokens API
  description: 'Reference for the Brightcove OAuth API, used to get client credentials and access tokens for the other APIs.


    For additional in-depth guides to features of the API, see the **[general documentation](/oauth/index.html)**.


    **Base URL**: https://oauth.brightcove.com/v4'
  version: 4.0.0
servers:
- url: https://oauth.brightcove.com/v4
  variables: {}
tags:
- name: Access Tokens
  description: Get access tokens to authenticate API requests.
paths:
  /access_token:
    post:
      tags:
      - Access Tokens
      summary: Create Access Token
      description: 'create a temporary access token for an API request '
      operationId: CreateAccessToken
      parameters:
      - $ref: '#/components/parameters/Token_Content-Type'
      - $ref: '#/components/parameters/Token_Authorization'
      - $ref: '#/components/parameters/grant_type'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccessTokenResponse'
        '400':
          description: 'invalid_client: credential is not valid '
        '404':
          description: 'RESOURCE_NOT_FOUND: The api could not find the resource you requested'
      deprecated: false
      security: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  parameters:
    Token_Authorization:
      name: Authorization
      in: header
      description: '''Authorization: Basic client_id:client_secret (the `client_id:client_secret` string must be BASE64-encoded; see Getting Access Tokens)'''
      required: true
      style: simple
      explode: false
      schema:
        type: string
    grant_type:
      name: grant_type
      in: query
      description: OAuth grant type
      required: true
      style: form
      explode: true
      schema:
        type: string
        enum:
        - client_credentials
      example: client_credentials
    Token_Content-Type:
      name: Content-Type
      in: header
      description: 'Content-Type: application/x-www-form-urlencoded'
      required: true
      style: simple
      explode: false
      schema:
        type: string
  schemas:
    CreateAccessTokenResponse:
      title: Create Access Token Response
      required:
      - access_token
      - expires_in
      - type
      type: object
      properties:
        access_token:
          type: string
          description: the access token
        expires_in:
          type: number
          description: how long before the token expires (seconds)
        type:
          type: string
          description: the token type - always `Bearer`;
      example:
        access_token: AC_MwVlYMlOUOylkREbsUpgzajEkMqHNEAC-QDUWFpiHW20ZRxlHNo6xYWFYCVL76W3sl-mo42lJnsxuWazzniaHJmMBUU70Rr0xJkw6rRASNKCRXjnTlGMZPB4f7VQdyTHMVil1nuqojuCh--FwVYQG54jtiNoljBsng84lwQDFy9D8iVcLOkmtwtQd_v9ohN6UTmkFmyhRc5JQrKvjaCjQqcsDdGcaBbMwLGHfSRnM4QDr-y7UUGlPGdxiP7I9RMwzFITg-U9gv0x7IOq1-CKQJtjjQ14f0roFLd14MtwvuQluUwxo3HZHny8VaLz5ocsH9gvYauzvecYN0SCvn4Si4iMmh6yg63pXn_kj8jkDI3HtR75RwB_oFCSKZJautiD67yuOaXyHV1yY7fQmPjB69q44cSpVhY0U20sH3jEASdpLF2MogTe6ohD4cVz7Y7-aeKzEbO00jVohzat1brgbuCvNAB73xNX5tym2Py24TBp6vMln69Zk8P0WoWoQiSiLw89Y7y8XpiwVjLf7do_13hsAi3TVpVOiTTUZ_ENUAjKu7Yq6pmA_2cVtl82rpgWNIeN-St0FXekuOqU2FyXWxIbthikC_2TsK_lfcfqVEis2gvD_5OWfSx9RJ7kKaQFeD_zHFmzeK-04teaIf9gPL4mfof1nvtHVLF_ZDmugxDL08xmktOaqH839oP0OIuVjKdnZe-uQI9Q64M20VC9NJI1do1B7ZfXtS-zTBNf2W002lAqToDKf8t2tRmRdzF8ttL0hz-zc1hFIKkbCcD1kKpdfsc1zym7ADGJ_jnXucyF9bpdh3ImElPKfA5TxGt7n46ijbQno00zXYgsbkRzK6B8ngawUXzEn6o7NjuALynBhxOcrhVQ
        token_type: Bearer
        expires_in: 300
